{% extends'base.html.twig' %}


{% block body %}
<h1>Welcome to the PID management system</h1>

    <div class="card alert-primary">
        <div class="card-header"><h4>Data Protection</h4></div>
        <div class="card-body">
            <p>Please note that the information in the project database is for use by BAcC staff only and is not for dissemination to non staff persons, such as members of the BAcC or the general public.</p>

        </div>
         </div>

{% endblock %}